$fuentePrincipal : 'Radio Grotesk';
$fuenteSecundaria:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$negro: #000;
$blanco: #FFF;
$azulOscuro: #00313E;
$azulClaro: #1884A5;

$separacion: 5rem;

$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900;

$phone: 480px;
$tablet: 768px;
$desktop: 1200px;